{{ partial "header.html" . }}

<div class="article-meta">
    <div class="article-page-title">{{ .Title | markdownify }}</div>
    {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
    {{ if (.Params.Summary) }}<div class="article-page-summary">{{ .Summary }}</div>{{ end }}
    {{ if (gt .Params.date 0) }}<div class="article-page-date">{{ .Date.Format "2006/01/02" }}</div>{{ end }}
</div>

<hr style="height:2px;">
<br>

<main>
    {{ .Content }}
</main>

<hr style="height:2px;">

{{ partial "comments.html" . }}

{{ partial "footer.html" . }}