<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }} | {{ .Site.Title }}</title>
        <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
        <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
        <link rel="icon" type="image/x-icon" href="{{ "favicon/favicon.ico" | relURL }}">
    </head>

    <body>
        <div class="home-header">
            <div class="home-top">
                <a class="home-title default-link" href="/">harpreetsingh.dev</a>
                <a class="home-title default-link" href="/about">about</a>
            </div>
            <div class="home-links">
                <a href="https://github.com/hsingh124">GitHub</a> -
                <a href="https://www.linkedin.com/in/hsingh124/">LinkedIn</a> -
                <a href="https://twitter.com/_hsinghdev">Twitter</a> -
                <a href="https://mastodon.social/@hsinghdev">Mastodon</a> - 
                <a rel="me" href="mailto:contact@harpreetsingh.dev">Email</a>
            </div>
        </div>
        <div class="page">
