<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }} | {{ .Site.Title }}</title>
        <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
        <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    </head>

    <body>
        <nav>
            <div class="menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ $menu_item_url := .URL | relLangURL }}
                    {{ $page_url := $currentPage.RelPermalink | relLangURL }}
                    <div class='menu-item {{ if eq $menu_item_url $page_url }}active{{ end }}'>
                        <a class="link" href="{{ .URL | relURL }}">
                            {{ .Name }}
                        </a>
                    </div>
                {{ end }}
            </div>
            <hr/>
        </nav>